html, body {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: rgb(219, 84, 84);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Calculator {
    width: 400px;
    background-color: #282c34;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.Button {
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    width: 25%;
}

.Button:active {
    background-color: rgb(223, 215, 215);
}

.Display input {
    background-color: rgb(10, 212, 145);
    width: 400px;
    color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    border-style: 2px;
    border-color: #000;
    font-size: 16px;

}

.Display textarea {
    background-color: rgb(10, 212, 145);
    width: 400px;
    color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    border-style: 2px;
    border-color: #000;
    font-size: 16px;
    resize: vertical;
}